<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %> Me</h1>
    <body>
      <div style="padding-top: 20px;">
          <table>
              <tr>
                  <td>Contact number: </td>
                  <td>( +1 ) 645 534 1687</td>
              </tr>
              <tr>
                  <td>Email: </td>
                  <td>ychoi88@my.centennialcollege.ca</td>
              </tr>
          </table>
      </div>
  </body>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>