<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <div style="text-align: center; display: flex; justify-content: space-between;">
      <div>
        <div style="width: 100px; height: 100px; background-color: pink; border-radius: 50%; margin: 0 auto;">
          <p style="font-size: 24px; line-height: 100px; color: white; text-align: center;">80%</p>
        </div>
        <p style="font-size: 18px; margin-top: 10px;">HTML</p>
      </div>
      <div>
        <div style="width: 100px; height: 100px; background-color: pink; border-radius: 50%; margin: 0 auto;">
          <p style="font-size: 24px; line-height: 100px; color: white; text-align: center;">80%</p>
        </div>
        <p style="font-size: 18px; margin-top: 10px;">CSS</p>
      </div>
      <div>
        <div style="width: 100px; height: 100px; background-color: pink; border-radius: 50%; margin: 0 auto;">
          <p style="font-size: 24px; line-height: 100px; color: white; text-align: center;">70%</p>
        </div>
        <p style="font-size: 18px; margin-top: 10px;">JavaScript</p>
      </div>
      <div>
        <div style="width: 100px; height: 100px; background-color: pink; border-radius: 50%; margin: 0 auto;">
          <p style="font-size: 24px; line-height: 100px; color: white; text-align: center;">30%</p>
        </div>
        <p style="font-size: 18px; margin-top: 10px;">Design</p>
      </div>
    </div>
  </div>
</main>

<!--bottom nav-->
<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
